# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# GraalVM Native Image
*.o
*.so
*.dll
*.dylib

# IDE
.vscode
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
