# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# GraalVM Native Image
*.o
*.so
*.dll
*.dylib

# IDE
.vscode
.idea/
*.iml
*.ipr
*.iws
.classpath
!src/test/resources/sample-java-project/.classpath
!src/test/resources/sample-web-project/.classpath
.project
!src/test/resources/sample-java-project/.project
!src/test/resources/sample-web-project/.project
.settings/
!src/test/resources/sample-java-project/.settings/
!src/test/resources/sample-web-project/.settings/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
